@tailwind base;
@tailwind components;
@tailwind utilities;

.underline-custom:hover {
  text-decoration: underline;
  text-decoration-color: #ffa726;
  text-underline-offset: 4px;
}

.underline-active {
  text-decoration: underline;
  text-decoration-color: #ffa726;
  text-underline-offset: 4px;
}

.page-container {
  @apply flex flex-col items-center justify-center pt-12
}

.heading-bold {
  @apply font-extrabold text-4xl text-black
}

.heading-large {
  @apply font-extrabold text-3xl text-black
}

.body-normal {
  @apply font-normal text-base text-black
}

.body-light {
  @apply font-light text-base text-black
}

.nav-links {
  @apply text-sm font-extrabold !important;
}

.center {
  @apply flex items-center justify-center flex-col
}

.form-label {
  @apply font-bold text-base max-sm:text-sm
}

.form-error-text {
  @apply font-normal text-sm text-red-600 max-sm:text-xs
}

.form-description-text {
  @apply pb-2 text-sm font-light text-gray-500
}

.form-section-div {
  @apply border border-t-0 border-gray-300 my-8 max-sm:my-5
}